Resources:
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
      Listeners:
        - {LoadBalancerPort: 80, InstancePort: 80, Protocol: "HTTP", InstanceProtocol: "HTTP"}
        - {LoadBalancerPort: 443, InstancePort: 80, InstanceProtocol: "HTTP", Protocol: "HTTPS", SSLCertificateId: "arn:aws:acm:us-east-1:812237757718:certificate/423246c9-bc64-412a-bb38-5a14ed07f1ff"}
