option_settings:
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-east-1:812237757718:certificate/423246c9-bc64-412a-bb38-5a14ed07f1ff
    Protocol: HTTPS
Resources:
  AWSEBLoadBalancerListener:
    Type: 'AWS::ElasticLoadBalancing::Listener'
    Properties:
      LoadBalancerArn: { "Ref" : "AWSEBLoadBalancer" }
      DefaultActions:
        - RedirectConfig:  
            Port: 443
            Protocol: HTTPS
            StatusCode: HTTP_301
          Type: redirect
      Port: 80
      Protocol: HTTP
  AWSEBLoadBalancerListener443:
    Type: 'AWS::ElasticLoadBalancing::Listener'
    Properties:
      LoadBalancerArn: { "Ref" : "AWSEBLoadBalancer" }
      DefaultActions:
        - FixedResponseConfig:  
            ContentType: text/html
            MessageBody: "Invalid URL"
            StatusCode: 403
          Type: fixed-response
      Port: 443
      Protocol: HTTPS

