option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:us-east-1:812237757718:certificate/423246c9-bc64-412a-bb38-5a14ed07f1ff
    Protocol: HTTPS
Resources:
  AWSEBV2LoadBalancerListener:
    Type: 'AWS::ElasticLoadBalancingV2::Listener'
    Properties:
      LoadBalancerArn: { "Ref" : "AWSEBV2LoadBalancer" }
      DefaultActions:
        - RedirectConfig:  
            Port: 443
            Protocol: HTTPS
            StatusCode: HTTP_301
          Type: redirect
      Port: 80
      Protocol: HTTP
  AWSEBV2LoadBalancerListener443:
    Type: 'AWS::ElasticLoadBalancingV2::Listener'
    Properties:
      LoadBalancerArn: { "Ref" : "AWSEBV2LoadBalancer" }
      DefaultActions:
        - FixedResponseConfig:  
            ContentType: text/html
            MessageBody: "Invalid URL"
            StatusCode: 403
          Type: fixed-response
      Port: 443
      Protocol: HTTPS

